.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-alt);
  padding: 10px 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
}
